<div class="wrapper m-4">

	<div class="header">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Public endpoint user list</a>

			<div class="d-flex flex-row justify-content-end">
				<div class="input-group">
					<input type="text" class="form-control text-uppercase" placeholder="Search" [(ngModel)]="searchText"
						(ngModelChange)="filterList()">
					<div class="input-group-append">

					</div>
				</div>
				<button type="button" class="btn btn-primary" (click)="openModalUser()">
					<span>Create</span>
				</button>
			</div>

		</nav>
	</div>

	<div class="content">
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Gender</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of usersFiltered; let i = index" class="pointer">
					<td>
						<span>{{user.name}}</span>
					</td>
					<td>
						<span>{{user.email}}</span>
					</td>
					<td>
						<span>{{user.gender}}</span>
					</td>
					<td>
						<div class="d-flex flex-row justify-content-between">
							<button type="button" class="btn btn-link btn-sm p-0">
								<span>Edit</span>
							</button>
							<button type="button" class="btn btn-link btn-sm p-0">
								<span>Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="footer">
		<div class="d-flex justify-content-end">
			<button type="button" class="btn btn-primary">
				<span>Save initial data</span>
			</button>
		</div>
	</div>

</div>